@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

* {
    font-family: 'Chakra Petch', sans-serif;
    color: black;
}

body {
    background: url("sources/images/background.png");
    background-color: #d9d9d95d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.navbar {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 35px;
    border-spacing: 100px;
    opacity: 1;
    background-color: transparent
}

.logo {
    letter-spacing: 30px;
}

.navbar a {
    text-shadow: 3px 3px 0px rgba(189, 189, 189, 1);
} 

a {
    text-decoration: none;
}


#house-1 {
    position: absolute;
    top: 200px;
    left: 50px;
    box-shadow: 10px 10px 0px 0px rgba(245, 255, 250, 1);
    margin: 10px;
    max-width: 100%;
    min-width: 300px;
    max-height: 50%;
    height: auto;
}

#house-2 {
position: absolute;
top: 500px;
right: 50px;
height: 40%;
box-shadow: -10px -10px 0px 0px rgba(245, 255, 250, 1);
max-width: 100%;
min-width: 300px;
max-height: 40%;
height: auto;
}

#more {
font-size: 100px;
display:flex ;
justify-content: space-around;
text-align: center;
position: relative;
top: 200px;
text-shadow: 5px 5px 0px rgba(189, 189, 189, 1); 
z-index: 1;
}

.about {
    background-color: white;
    position: absolute;
    top: 950px;
}

.about p {
    font-size: 100px;
    text-shadow: 5px 5px 0px rgba(189, 189, 189, 1); 
    display:flex ;
    justify-content: space-around;
    text-align: center;
    position: relative;
}






